.Data
{
    display: flex;
}
.tundra-paragraph,.arabian-paragraph,.steppe-paragraph,.mongolia-paragraph,
.arctic-paragraph,.mexican-paragraph,.british-paragraph,.vancouver-paragrph
{
    width: 1100px

}
.tundra-img,.arabian-img,.steppe-img,.mongolia-img,.arctic-img,.mexican-img,.british-img,.vancouver-img
{
    margin-left: 20px;
    width: 200px;
    height: 200px;
}
.kenai-paragraph
{}
.kenai-img,.newfoundland-img,.bernard-img
{
    margin-left: 20px;
}
.newfoundland-paragrph
{}
.bernard-paragraph
{}
.florida-paragraph
{}
.florida-img
{
    margin-left: 20px;
    width: 200px;
    height: 150px;
}