body
{
    background-color: black;
    color: white;
    font-family: "Libre Baskerville", serif;
    margin-top: 20px;
}
.container
{
    margin-left: 2px;
}
.navbar
{
    display: flex;
    border-bottom: 1px solid gray;
    margin-bottom: 0px;
    font-family: "Cinzel", serif;
    font-size: 22px;
    font-weight: bold;
}
.hamburger
{
    justify-content: space-between;
}
.line
{
    background-color: black;
    height: 2px;
    width: 4px;
}
.features
{
    margin: 11px 3px 0px 15px;
    cursor: pointer;
}
.logo
{
    height: 45px;
    width: 50px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
    position: relative; /* Ensure it respects the document flow */
    z-index: 1; /* Place it below other elements */
    pointer-events: auto; /* Ensure it can still register clicks */
}
.data
{
    font-family: "Cinzel", serif;
    margin-left: 20px;
    margin-right: 20px;
}
.howl
{
    margin-left: 1000px;
    border-radius: 40px;
    height: 45px;
    width: 50px;
    margin-bottom: 10px;
    margin-left: 410px;
    margin-right: 20px;
}
.howl:hover
{
    transition: transform 0.1s;
    cursor: pointer;
    border-radius: 40px;
    width: 50px;
    height: 45px;
    margin-bottom: 10px;
    margin-left: 410px;
    margin-right: 20px;
}
.features a
{
    text-decoration: none; /* Removes underline */
    color: inherit; /* Inherits the text color from the parent element */
}
.features a:hover
{
    color: white; /* Optional: Set a specific hover color */
}