body
{
    background-color: black;
    color: white;
    font-family: "Libre Baskerville", serif;
    margin-top: 20px;
}
.container
{
    margin-left: 2;
}
.navbar
{
    display: flex;
    border-bottom: 1px solid gray;
    margin-bottom: 0px;
    font-family: "Cinzel", serif;
    font-size: 22px;
    font-weight: bold;
}
.hamburger
{
    justify-content: space-between;
}
.line
{
    background-color: black;
    height: 2px;
    width: 4px;
}
.features
{
    margin: 11px 3px 0px 15px;
}
.logo
{
    height: 45px;
    width: 50px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.data
{
    font-family: "Cinzel", serif;
    margin-left: 20px;
    margin-right: 20px;
}